
legend {
    font-family: algerian;
    font-size: 30px;
    color: rgb(11, 11, 158);
}

  fieldset {
    border: 5px solid rgb(129, 129, 241); 
    width: 900px;
   
  } /* 
.contenedor {
    display: flex;
   

} 

.iniciDeSesion {
   flex-direction:column;
   
} */
#mision{
    font-size: 18px;
    font-family: lucida calligraphy;
    text-align: justify;
}
#vision{
    font-size: 18px;
    font-family: lucida calligraphy;
    text-align: justify;
}


#copyright{
    font-size: 12px;
    font-family: Calibri;
    text-align: center;
}
#imagen1{
    width: 40%;
    height: 40%;
    float: right;
    flex-direction: column;
}
#ingresar{
    border: none;
    width: 20%;
    color: white;
    font-size: 24px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}


